body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: color 0.3s ease;
}

.nav-links a.current,
.nav-links a:hover {
    color: #ff6600;
    font-weight: bold;
}

.page-title {
    text-align: center;
}

.content-section {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    margin: 20px;
}

/* Separate the first image from the title */
.content-section:first-child {
    margin-top: 50px;
}

.image-container {
    flex: 1;
    text-align: center; /* Center the image within its container */
}

.copertina img {
    max-width: 100%;
    height: 50%;
}
.info img{
    max-width: 50%;
    height: 50%;
}
.storia img{
    max-width: 100%;
    height: 50%;
}
.text-content {
    flex: 2;
    padding: 0 20px;
}
.sezione {
    text-align: left;
    padding: 0 2.5%;
}
.divisoreGrande{
    width: 95%; /* Larghezza del divisore */
    margin: 0 auto; /* Centrato rispetto alla larghezza della pagina */
    border-top: 2px solid #000; /* Stile della linea del divisore */
    margin-bottom: 20px; /* Spazio tra i contenuti sopra e sotto il divisore */
}
.divisorePiccolo{
    width: 30%; /* Larghezza del divisore */
    margin: 0 auto; /* Centrato rispetto alla larghezza della pagina */
    border-top: 1px solid #999; /* Stile della linea del divisore */
    margin-bottom: 20px; /* Spazio tra i contenuti sopra e sotto il divisore */
}
.divisoreMedio{
    width: 50%; /* Larghezza del divisore */
    margin: 0 auto; /* Centrato rispetto alla larghezza della pagina */
    border-top: 1px solid #999; /* Stile della linea del divisore */
    margin-bottom: 20px; /* Spazio tra i contenuti sopra e sotto il divisore */
}
/* Centra tutto su desktop e mobile */
.pic {
    text-align: center;
}

.pic img {
    display: block;
    margin: auto;
    max-width: 100%; /* Per assicurarti che l'immagine non superi la larghezza del suo contenitore */
}

.pic p {
    width: 80%; /* Modifica della larghezza per adattarsi meglio su dispositivi più piccoli */
    margin: 20px auto;
}

/* Aggiungi regole per la responsività su schermi più piccoli (max-width 767px è un esempio) */
@media only screen and (max-width: 767px) {
    .pic p {
        width: 100%; /* Imposta la larghezza del paragrafo al 100% su schermi più piccoli */
    }
}

